.navbar-container {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	background-color: #1877f2;
	padding: 5px;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.nav-icon {
	color: #fff;
	margin: 0 20px;
}

.nav-icon:hover {
	color: rgb(210, 210, 210)
}


.navbar-container__form {
	display: flex;
}

.navbar-container__form input {
	margin-right: 10px;
}

.navbar-container__form button {
	margin-right: 10px;
}

.logout-button {
	font-size: 17px;

}

.logout-button i {
	margin-right: 10px;
}

.search-container {
	width: 100%;
	margin-top: 100;
}

.search-container-image {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 15px;
}